<nz-table #basicTable [nzData]="userDataList" style="background:cornsilk;border-radius:5px;">
  <thead>
    <tr>
      <th>username</th>
      <th>password</th>
      <th>name</th>
      <th>phone</th>
      <th>email</th>
      <th>roleid</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.username }}</td>
      <td>{{ data. password}}</td>
      <td>{{ data. name}}</td>
      <td>{{ data. phone}}</td>
      <td>{{ data. email}}</td>
      <td>{{ data. roleid}}</td>
      <td>
        <a>编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>
